.bioCard{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    justify-content: space-around;
}

.leaderTitle{
    margin-left: 20%;
    margin-top: 30px;
    margin-bottom: 50px;
}

.card{
    border: 1px solid #077;
}

.card h5{
    display: flex;
    justify-content: center;
}

.bioCard img{
    margin-top: 10px;
}

.card-body button{
    width: 100%;
}

.card-body{
    padding: 2;
    background-color: #9e9e91;
}

.card-body button:hover{
    background-color: #077;
    color: white;
}