.bioCard{
    display: flex;
    flex-direction: row;
    margin-top: 1em;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 1.2em;
    justify-content: space-around;
}

.leaderTitle{
    margin-left: 20%;
    margin-top: 1.3em;
    margin-bottom: 1.4em;
}

.card{
    border: 1px solid #077;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card h5{
    display: flex;
    justify-content: center;
}

.bioCard img{
    margin-top: 0.4em;
}

.card-body button{
    width: 100%;
}

.card-body{
    padding: 2;
    background-color: #9e9e91;
}

.card-body button:hover{
    background-color: #077;
    color: white;
}